@model abdp.Web.Models.MaintenanceCategoryViewModel

@{
    ViewBag.Title = "Maintenance Category";
}

<h2>Index</h2>

<h2>
    @if (Model != null)
    {
        @Model.IdMaintenanceCategory
        <br />
        @Model.MaintenanceCategoryName
    }
</h2>

@*<table id="myTable" class="table table-striped table-bordered display" width="100%">*@
<div class="col-md-12">
    <table id="MainDataTable" class="table table-striped table-bordered display nowrap" style="width:100%">
        <thead>
            <tr>
                <th width="120px">Category Name</th>
                <th width="220px">Remarks</th>
                <th width="110px">Created By</th>
                <th width="110px">Created Date</th>
                <th width="100px">Status</th>
                <th width="110px">Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script>
        function LoadDataTable() {
            $('#MainDataTable').each(function () {
                var oDataTable = $(this).dataTable({
                    "bServerSide"     : true,
                    "bProcessing"     : true,
                    "aaSorting"       : [ [0, "desc"] ],
                    "sAjaxSource"     : "@Url.Action("AjaxHandler", "MaintenanceCategory")",
                    "sDom"            : "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                    "sPaginationType" : "full_numbers",
                    "aoColumns"       : [
                        { "mData" : "MaintenanceCategoryName" },
                        { "mData" : "Remarks" },
                        { "mData" : "CreatedBy" },
                        {
                            "mData"    : "CreatedDate",
                            "fnRender" : function (aObj) {
                                var date = new Date(parseInt(aObj.aData["CreatedDate"].substr(6)));
                                var modeldate = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();

                                return modeldate;
                            }
                        },
                        {
                            "mData"       : "IsActive",
                            "bSearchable" : false,
                            "bSortable"   : false,
                            "fnRender"    : function (oObj) {
                                var IsActive = oObj.aData["IsActive"];
                                var IsDraft = oObj.aData["IsDraft"];
                                var IsSubmit = oObj.aData["IsSubmitted"];

                                if (IsActive == true && IsDraft == false && IsSubmit == false) {
                                    return "<span class='label label-success'>active</span>"
                                }
                                else if (IsActive == false && IsDraft == false && IsSubmit == false) {
                                    return "<span class='label label-default'>inactive</span>"
                                }
                                else if ((IsActive == false && IsDraft == true && IsSubmit == false) || (IsActive == true && IsDraft == true && IsSubmit == false)) {
                                    return "<span class='label label-info'>draft</span>"
                                }
                                else if ((IsActive == false && IsDraft == false && IsSubmit == true) || (IsActive == true && IsDraft == false && IsSubmit == true)) {
                                    return "<span class='label label-info'>submitted</span>"
                                }
                                else {
                                    return "no status";
                                }
                            }
                        },
                        {
                            "mData"       : "IdMaintenanceCategory",
                            "bSearchable" : false,
                            "bSortable"   : false,
                            "fnRender"    : function (oObj) {
                                var Id = oObj.aData["IdMaintenanceCategory"];
                                var IsActive = oObj.aData["IsActive"];
                                var IsDraft = oObj.aData["IsDraft"];
                                var IsSubmit = oObj.aData["IsSubmitted"];

                                if (IsActive == true || (IsActive == false && IsDraft == false && IsSubmit == false)) {
                                    return "&nbsp;" +
                                        "<a title='Detail' href='@Url.Action("Detail", "MaintenanceCategory")/" + Id + "' class='btn btn-info btn-xs'>" +
                                        "<i class='fa fa-bars'></i>" +
                                        "</a>" +
                                        "&nbsp;" +
                                        "<a title='Edit' disabled='disabled' href='@Url.Action("Edit", "MaintenanceCategory")/" + Id + "' class='btn btn-primary btn-xs'>" +
                                        "<i class='fa fa-edit'></i>" +
                                        "</a>" +
                                        "&nbsp;";
                                }
                                else {
                                    return "&nbsp;" +
                                        "<a title='Detail' href='@Url.Action("Detail", "MaintenanceCategory")/" + Id + "' class='btn btn-info btn-xs'>" +
                                        "<i class='fa fa-bars'></i>" +
                                        "</a>" +
                                        "&nbsp;" +
                                        "<a title='Edit' href='@Url.Action("Edit", "MaintenanceCategory")/" + Id + "' class='btn btn-primary btn-xs'>" +
                                        "<i class='fa fa-edit'></i>" +
                                        "</a>" +
                                        "&nbsp;";
                                }
                            }
                        }
                    ]
                });
            })
        }

        $(document).ready(function () {
            LoadDataTable();
        });
    </script>
}
